@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  height: 100vh;
  background-color: #46607a;
}
.apresentacao__conteudo__titulo {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
}
.tecnologias-texto-destaque {
  color: #22d4fd;
}
.apresentacao__conteudo__texto {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.apresentacao {
  margin: 10% 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
  gap: 10px;
}
.apresentacao__links__subtitulo {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.apresentacao__links__social {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 2px solid #22d4fd;
  color: #f6f6f6;
  width: 250px;
  text-align: center;
  border-radius: 8px;
  font-size: 23px;
  text-decoration: none;
  padding: 9px 0px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
