@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor-primaria: #222831;
  --cor-secundaria: #eeeeee;
  --cor-terciaria: #00adb5;
  --cor-hover: #393e46;

  --font-primaria: "Krona One", sans-serif;
  --font-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}
.cabecalho {
  text-align: center;
  padding: 2% 0% 0% 20%;
}
.cabecalho__menu {
  display: flex;
  gap: 80px;
}
.cabecalho__menu__link {
  display: flex;
  align-items: center;
  font-family: var(--font-secundaria);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  color: var(--cor-terciaria);
}
.cabecalho__menu__link:hover {
  cursor: pointer;
  color: var(--cor-secundaria);
}
.apresentacao__conteudo__titulo {
  font-family: var(--font-primaria);
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
}
.tecnologias-texto-destaque {
  color: var(--cor-terciaria);
}
.apresentacao {
  padding: 4.4% 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.apresentacao__conteudo__texto {
  font-family: var(--font-secundaria);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}
.apresentacao__links__subtitulo {
  font-family: var(--font-primaria);
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

.apresentacao__links__social {
  display: flex;
  justify-content: center;
  gap: 10px;
  border: 2px solid var(--cor-terciaria);
  color: var(--cor-secundaria);
  width: 250px;
  text-align: center;
  border-radius: 8px;
  font-size: 23px;
  text-decoration: none;
  padding: 9px 0px;
  font-family: var(--font-secundaria);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.apresentacao__links__social:hover {
  cursor: pointer;
  background-color: var(--cor-hover);
}
.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
  gap: 16px;
}
.rodape {
  padding: 12px;
  color: var(--cor-primaria);
  background-color: var(--cor-terciaria);
  text-align: center;
  font-family: var(--font-secundaria);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.apresentacao__conteudo__subtitulos {
  font: var(--font-primaria);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: var(--cor-terciaria);
}
.apresentacao__conteudo__titulo__exp {
  font: var(--font-secundaria);
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
.apresentacao__conteudo__exp-formacoes {
  padding: 15px 0px;
}
.link__projetos {
  text-decoration: none;
  color: var(--cor-secundaria);
}
.link__projetos:hover {
  color: var(--cor-hover);
}
.projeto__descricao {
  font-family: var(--font-secundaria);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  padding: 5px 0px;
}
.apresentacao__conteudo__projetos {
  padding: 2px 0px;
}
.apresentacao__conteudo__subtitulos__projetos {
  font: var(--font-primaria);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}
